@font-face {
   font-family: 'TREBUCBD';
   font-display: swap;
   src: url('TREBUCBD/font.ttf');
}
@font-face {
   font-family: 'Trebuchet MS';
   font-display: swap;
   src: url('Trebuchet MS/font.ttf');
}
