@font-face {
   font-family: 'TREBUCBD';
   font-display: swap;
   src: url('file:///Users/jcandido/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-09-13_010522/fonts/TREBUCBD/font.ttf');
}
